{% extends 'base.html' %}

{% block content %}

<body>
    <div id="wrapper" class="homepage">
        <h1>Jake Alstad</h1>
        <h2>Web Developer</h2>
        <p>I write web applications using <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, and other open source software.</p>
        <p>Have a look at my <a href="/resume/">résumé</a>.</p>
        <hr/>
        <ul class="links">
            <li><a href="http://github.com/jakealstad">github</a></li>
            <li><a href="mailto:jake@jalstad.com">email</a></li>
        </ul>
    </div>
</body>

{% endblock %}