{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div id="wrapper" class="resume">
<h1><a href="https://jalstad.com">Jake Alstad</a></h1>
<a href="mailto:jake@jalstad.com" title="holla at me!">jake@jalstad.com</a>
{% markdown %}

[github.com/jakealstad](https://github.com/jakealstad)

---

## SUMMARY
I am a passionate developer who loves clean, efficient code. I have great written and verbal communication skills, and I love to learn.


## SKILLS
* Python (Django, Flask, etc...)
* Postgres
* RabbitMQ
* Redis, memcached, etc...
* nginx, gunicorn, wsgi
* REST &amp; RPC
* ES6 &amp; jQuery
* HTML, CSS, SASS
* Photoshop &amp; Illustrator

## EXPERIENCE
**Application Development Business Analyst, Hines** | Houston, TX — March 2018 - Present

Python &amp; Django development for internal customer applications.

***

**Owner, Modular Hexagon LLC** | Houston, TX — Jan. 2018 - Present

Freelance Python &amp; web development services.

[Modular Hexagon LLC](https://modularhexagon.com)

***

**Python Developer, Six Foot LLC** | Houston, TX — Sept. 2016 - Jan. 2018

I worked on the platform team building various microservices to support video games and related projects. The team worked in a Scrum framework. I was responsible for backend development tasks and bug fixes. 

**Accomplishments**

* Built Django/Wagtail application for [RiME](https://www.greybox.com/rime/en/)
* Implemented anti-spam solution for several videogame-related forums.
* Implemented [Twitch Drops](https://dev.twitch.tv/drops) marketing support for our games.

***

**Senior Web Developer, Z4 Poker** | Las Vegas, NV — Oct. 2014 - Sept. 2016

I worked on several Python/Django projects for a Las Vegas-based online poker startup.

**Accomplishments**

* Developed and maintained Python/Django applications.
* Built javascript-based admin tools for [HDPoker](https://www.facebook.com/hdpoker/).
* Maintained intranet accounting software for Z4 Poker and [Gaming Arts](http://www.gamingarts.com/).
* Various design &amp; development projects.

***

**Lead Web Developer, Midwest Communications Inc.** | Wausau, WI — Aug. 2014 - Oct. 2014

I worked closely with a small team of developers and designers to write and maintain applications for a radiocentric Python/Django project. I managed several application, database, and media servers as well as handling deployment for the project.

***

**Web Developer, Midwest Communications Inc.** | Wausau, WI — 2012 - 2014

I worked with a small team of developers and designers writing applications for a radio-­centric Django project. Midwest Communications operates over 60 radio station websites from this project.

**Accomplishments**

* Wrote a static page editor for Django to streamline the designers workflow
* Wrote a RESTful Blog/Podcast application for Django
* Worked with the team to migrate the sites from our version 2 to version 3 layout
* Worked with team to make these sites responsive
* Maintained Python/Django applications.
* Collaborated with management to develop and implement company ­wide strategies

***

**Web Designer, Midwest Communications Inc.** | Wausau, WI — 2011 - 2012

I worked with radio station Brand Managers and salespeople in Wisconsin and Michigan to create and maintain promotional pages for our sites. I worked with Photoshop and Illustrator to create graphics and modify images.

**Accomplishments**

* Design and markup efforts contributed to success of numerous radio promotions
* Participated in award­ winning radio promotions
* Worked on several contests resulting in a high participation rate

## EDUCATION
**Northcentral Technical College**
Programmer/Analyst Program 2009 - 2010

**University of Wisconsin Marathon County**
General Studies 2007 - 2009

{% endmarkdown %}
</div>
{% endblock content %}