@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

body {
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

#wrapper.homepage {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 75%;
}

#wrapper h1, h2 {
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

#wrapper p, ul {
    -webkit-font-smoothing: antialiased;
}

#wrapper hr {
    border: none;
    height: 1px;
    color: #000;
    background-color: #111;
}

.links {
    list-style-type: none;
    overflow: auto;
    padding: 0;
}

#wrapper a {
    text-decoration: none;
    color: #777;
}

#wrapper a:hover {
    color: #111;
}

.resume {
    text-align: left !important;
}

.resume hr {
    border: none;
    height: 1px;
    color: #000;
    background-color: #b8b8b8 !important;
}